html {
  font-size: 16px;
  box-sizing: border-box;
}

p {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

body {
  width: 100%;
  margin: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
}

.container {
  width: 1352px;
}

nav {
  width: 100%;
  background-color: white;
  overflow: hidden;
  height: 107px;
  box-shadow: -50px 5px 40px 5px rgba(0, 0, 0, 0.486);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.logo {
  margin-left: 10%;
  font-size: 2rem;
  color: #08a6e4;
}

.menu {
  margin-right: 10%;
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}
.menu a {
  display: inline-block;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  text-decoration: none;
  color: #a5a5a5;
  margin: 0 25px;
}

a::after {
  content: "";
  background-color: rgba(8, 166, 228, 0);
  width: 100%;
  height: 6px;
  position: absolute;
  left: 0;
  top: 61px;
  transition: background-color 0.5s;
}

a:hover {
  color: black;
}

.menu a:hover::after {
  background-color: #08a6e4;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  padding: 15px 0;
}

.header-bg {
  background-image: url("../assets/Background.png");
  background-size: cover;
  width: 100%;
  max-height: 519px;
  aspect-ratio: 1;
  background-color: white;
  background-position: center;
}

.header-h1 {
  font-size: 3rem;
  top: 150px;
  text-transform: capitalize;
  background-color: white;
  font-weight: 400;
}

.header-btn {
  border-radius: 30px;
  background-color: #08a6e4;
  color: white;
  border: none;
  padding: 5px 150px;
  text-decoration: none;
  transition: background-color 0.5s;
}

.header-btn:hover {
  background-color: #55dfb4;
}

.content-h2 {
  text-align: center;
  margin: 100px 0;
  padding: 15px;
  font-weight: 400;
}

.content-icon-box {
  display: flex;
  justify-content: space-between;
}

.icon-p {
  text-align: center;
  color: #a5a5a5;
}

.content-icon {
  display: flex;
  flex-direction: column;
  margin: 30px 100px;
}

.icon-circle {
  background-color: #fb3b64;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: none;
  position: relative;
}

.icon-img {
  position: absolute;
  top: 20px;
  left: 40px;
  height: 60px;
}

.content-h2 {
  font-size: 2rem;
}

.icon-h3 {
  margin: 5px;
  letter-spacing: 7px;
}

.icon2 {
  background-color: #08a6e4;
}

.icon3 {
  background-color: #55dfb4;
}

.banners-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  max-width: 1300px;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 50px 80px 150px;
  margin: 50px 0;
  background-color: white;
  box-shadow: 0px 0px 7px -3px rgb(66, 68, 90);
}

.banner-1 {
  flex-direction: row-reverse;
}

.banner-p {
  display: block;
  max-width: 500px;
}

.banner-image-block {
  position: relative;
}

.image-shape1 {
  position: absolute;
  background-color: #fb3b64;
  border-radius: 25%;
  max-width: 250px;
  width: 100%;
  aspect-ratio: 1;
  height: auto;
  border: none;
  transform: rotate(50deg);
  z-index: 1;
  top: 20px;
  right: 50px;
  margin-top: 20px;
}

.banner-img {
  position: relative;
  top: 60px;
  right: 20px;
  width: 100%;
  max-width: 520px;
  height: auto;
  z-index: 10;
}

.banner-text-block {
  width: 50%;
  padding: 50px;
  position: relative;
}

.banner-h2 {
  font-size: 3rem;
  font-weight: 300;
}

.banner-line {
  position: absolute;
  background-color: #fb3b64;
  margin-top: 30px;
  width: 50%;
  height: 5px;
}

.banner-line.blue-line {
  background-color: #08a6e4;
}

.banner-line.green-line {
  background-color: #55dfb4;
}

.baner-p {
  font-size: 2rem;
}

.image-shape2 {
  position: absolute;
  background-color: #08a6e4;
  border-radius: 50%;
  max-width: 300px;
  width: 90%;
  aspect-ratio: 1;
  height: auto;
  border: none;
  transform: rotate(50deg);
  z-index: 1;
  top: 10px;
  right: 50px;
}

.banner-img2 {
  position: relative;
  width: 100%;
  max-width: 500px;
  top: 10px;
  height: auto;
  z-index: 10;
}

.banner-2 {
  padding: 50px 80px 100px;
}

.banner-image-block3 {
  background-color: #55dfb4;
  max-width: 400px;
  width: 90%;
  height: 400px;
  display: flex;
  align-items: center;
  position: relative;
}

.banner-3 {
  padding: 0;
}

.banner-img3 {
  height: 250px;
  position: absolute;
  top: 120px;
}

.pricing {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  background-color: white;
  width: 100%;
  padding-top: 50px;
}

.pricing-h2 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

.pricing-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-single-tab {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #fb3b64;
  border-radius: 10px;
  margin: 10px 15px;
  background-color: white;
}

li {
  margin-left: 0;
  margin-right: 40px;
  list-style-image: url("../assets/Ckechmark-1.svg");
  padding: 10px 0;
}

li.uncheck {
  list-style-image: url("../assets/Close.svg");
}

.pricing-title {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.pricing-price {
  font-size: 2.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin: 0;
}

.pricing-btn {
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 0.8rem;
  padding: 15px 55px;
  top: 95%;
  position: absolute;
  transition: background-color 0.5s;
  cursor: pointer;
}

.pricing-btn:hover {
  background-color: #a5a5a5;
}

.btn1 {
  background-color: #fb3b64;
}

.btn2 {
  background-color: #08a6e4;
}

.btn3 {
  background-color: #55dfb4;
}

.offer-p {
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 25px;
}

.price1 {
  color: #fb3b64;
  margin-top: 10px;
  margin-bottom: 50px;
}

.price2 {
  color: #08a6e4;
  margin-top: 10px;
}

.price3 {
  color: #55dfb4;
  margin-top: 10px;
}

.tab1 {
  border: 1px solid #fb3b64;
  margin-top: 50px;
  height: 400px;
}

.tab2 {
  border: 1px solid #08a6e4;
  box-shadow: 0px 0px 15px -5px #08a6e4;
  flex-grow: 1.2;
  margin: 0px 25px;
}

.tab3 {
  border: 1px solid #55dfb4;
  margin-top: 50px;
  height: 400px;
}

.pricing-list {
  margin-bottom: 50px;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0;
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 40%;
  margin-top: 0;
}

.contact-info {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.contact-p {
  display: flex;
  padding: 10px;
}

.contact-img {
  margin: 0 5px;
}

.contact-form {
  width: 40%;
  margin: 5%;
}

.contact-text-p {
  margin-bottom: 20px;
  margin-right: 90px;
}

.questions {
  margin-top: 100px;
  margin-bottom: 15px;
  text-align: left;
  font-size: 3rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.blue-label {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  color: #08a6e4;
  margin: 10px 0px;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #08a6e4;
  padding: 10px;
  margin: 15px 0px;
}

.checkboxing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid black;
  border-radius: 5px;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: white;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  background-image: url("../assets/Checkmark.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  padding: 5px;
}

.consent-text {
  font-size: 0.8rem;
  margin: 0 35px;
}

.send {
  border: none;
  padding: 15px 105px;
  background-color: #08a6e4;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.5s;
}

.send:hover {
  background-color: #a5a5a5;
}

footer {
  width: 100%;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.308);
  overflow: hidden;
}

.footer-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  margin-top: 0;
  margin-bottom: 0;
}

.footer-p {
  font-size: 1rem;
  margin-left: 100px;
  color: #a5a5a5;
}

.social-icons img {
  margin: 10px;
}

@media (max-width: 1380px) {
  .container {
    width: 100%;
  }
  .nav {
    overflow: hidden;
    width: 100%;
  }
  .nav-bar {
    overflow: hidden;
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
  .logo {
    margin-bottom: 20px;
    margin-left: 0;
  }
  .nav-bar {
    height: 107px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .menu {
    margin-right: 0%;
    bottom: 25px;
    position: relative;
  }
  .menu a::after {
    content: "";
    background-color: rgba(8, 166, 228, 0);
    width: 100%;
    height: 6px;
    position: absolute;
    left: 0;
    top: 1.5rem;
    transition: background-color 0.5s;
  }
  .menu a:hover::after {
    background-color: #08a6e4;
  }
}
@media (max-width: 1100px) {
  .container {
    width: 100%;
  }
  .logo {
    margin-left: 10%;
  }
  .nav-bar {
    justify-content: space-between;
    flex-direction: row;
  }
  .menu {
    display: none;
  }
  .menu-btn__burger {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin-right: 10%;
  }
  .menu-btn__burger__line-center {
    width: 50px;
    height: 6px;
    background-color: #08a6e4;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger__line-top,
.menu-btn__burger__line-bottom {
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: #08a6e4;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger__line-top {
    transform: translateY(-16px);
  }
  .menu-btn__burger__line-bottom {
    transform: translateY(16px);
  }
  .menu-btn__burger.open .menu-btn__burger__line-center {
    transform: translateX(-50px);
    background: transparent;
  }
  .menu-btn__burger.open .menu-btn__burger__line-bottom {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn__burger.open .menu-btn__burger__line-top {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  .menu.open {
    background-color: white;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    top: 100px;
    width: 100vw;
    height: 130px;
    box-shadow: 0px 2px 24px -2px rgb(66, 68, 90);
  }
  .content-icon-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px 0;
    background-color: white;
    box-shadow: 0px 0px 7px -3px rgb(66, 68, 90);
  }
  .banner-line {
    display: none;
  }
  .banner-2 {
    padding: 10px;
  }
  .banner-image-block3 {
    background-color: #55dfb4;
    max-width: 400px;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .banner-3 {
    padding: 0;
  }
  .banner-text-block {
    width: auto;
    padding: 30px;
    position: relative;
  }
  .pricing-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pricing-single-tab {
    position: relative;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #fb3b64;
    border-radius: 10px;
    margin: 40px 0px;
    background-color: white;
  }
  .pricing-main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
  }
  .pricing-title {
    font-size: 1.5rem;
  }
  .pricing-price {
    font-size: 3rem;
  }
  li {
    padding: 10px;
    margin: 0px;
    font-size: 1.25rem;
  }
  .pricing-btn {
    font-size: 1.25rem;
  }
  .offer-p {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 25px;
  }
  .price1 {
    color: #fb3b64;
    margin: 0px;
  }
  .price2 {
    color: #08a6e4;
    margin: 0px;
  }
  .price3 {
    color: #55dfb4;
    margin: 0px;
  }
  .tab1 {
    border: 1px solid #fb3b64;
    margin-top: 50px;
    height: 100%;
  }
  .tab2 {
    border: 1px solid #08a6e4;
    box-shadow: 0px 0px 15px -5px #08a6e4;
    flex-grow: 1.2;
  }
  .tab3 {
    border: 1px solid #55dfb4;
    margin-block: 20px;
    height: 100%;
  }
  .pricing-list {
    margin: 20px;
  }
  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
    width: 100%;
  }
  .contact-text {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  .contact-text-p {
    margin: 0;
    width: 100%;
    display: block;
  }
  .contact-info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .contact-p {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
/*# sourceMappingURL=main.css.map */
